<a href="/">Return to Home page</a>&nbsp;&nbsp;
<a href="{% url 'polls:instructions' %}">Return to Instructions</a>

<h1>Installation Instructions</h1>

<ol>
  <li>If you are using a Mac, you will need to install the XCode command-line tools (which includes <i>git</i>) using the command: <i>xcode-select --install</i></li>
  <li>Install VirtualBox 5.0. You can download it here: <a href="https://www.virtualbox.org/wiki/Download_Old_Builds_5_0">VirtualBox 5.0 Download Page</a></li>
  <li>Install Vagrant. You can download it here: <a href="https://www.vagrantup.com/downloads.html">Vagrant Download Page</a></li>
  <li>Download the vagrant box django_hoc_trusty64.box from here (warning: it is over 500MB!): <a href="https://dl.dropboxusercontent.com/u/69933626/django_hoc_trusty64.box">django_hoc_trusty64.box</a></li>
  <li>Import the vagrant box for django_hoc into vagrant: <i>vagrant box add django_hoc ~/Downloads/django_hoc_trusty64.box</i></li>
  <li>Clone the github repository into a new directory called <b>django</b>: <i>git clone https://github.com/glendudek/django_hoc.git django</i></li>
  <li>Add the heroku app remote (you should be assigned a unique two-digit number to put in place of ##, or use 99 for one that may shared*): <i>cd django; git remote add heroku git@heroku.com:django-hoc-##.git</i></li>

 <br/>*If you are using a shared heroku app like django-hoc-99, you may need to use the --force flag on git push to overwrite someone else's changes, e.g. <i>git push --force heroku master</i>
</ol>

<h2>Reinitializing a computer for a new student</h2>

<ol>
  <li>From a terminal window, change to the django directory: <i>cd django</i></li>
  <li>Shutdown and restart vagrant: <i>vagrant halt; vagrant up</i>
  <li>SSH into the vagrant instance: <i>vagrant ssh</i>
  <li>Restore the original code: <i>git fetch; git reset --hard origin/master</i></li>
  <li>Push the initial code to heroku: <i>git push --force heroku origin/init:master</i></li>
  <li>Reinitialize the local database:
    <ul>
      <li>start the local application: <i>./runserver</i></li>
      <li>use a local browser to bring up the home page at localhost:8000</li>
      <li>click on the link to reinitialize the database</li>
    </ul>
  </li>
  <li>Reinitialize the database at heroku:</li>
    <ul>
      <li>use a browser to bring up the home page at <i>http://django-hoc-##.herokuapp.com</i>, where <i>##</i> is the assigned number of the computer</li>
      <li>click on the link to reinitialize the database</li>
    </ul>
  </li>
</ol>

<ol>
<a href="/">Return to Home page</a>&nbsp;&nbsp;
<a href="{% url 'polls:instructions' %}">Return to Instructions</a>
