<a href="/">Return to Home page</a>

<h1>Instructions</h1>

<h2>Background</h2>

<p>
  In this exercise you will be using <b>Django</b>, a free, open-source
  <b>Python</b>-based <b>framework</b> for building web applications.
</p>
<p>
  A <b>framework</b> is a collection of software libraries and tools that
  provides general functionality usually using a specific
  <b>design pattern</b>, and that can be extended by additional user-written
  code to perform a specific function.
</p>
<p>
  A <b>design pattern</b> is a general, reusable software solution to a
  commonly-occurring problem. For example, a dictionary in Python (also
  called an associative array in some languages) is a design pattern for
  storing name/value pairs.
</p>
<p>
  You will be modifying a simple <b>Polls</b> web application that displays
  questions with multiple choice responses (for example,
  <i>Which of these movies did you like the most?</i>), and counts and
  reports the responses.
</p>


<p>
  Django uses a popular design pattern for web applications called
 <b>Model-View-Controller</b>, or <b>MVC</b> for short. MVC divides
 up the web application into three parts:
</p>
<ul>
  <li>
    <b>Model</b> - The Model is the data, along with the business rules
    for how the data behaves/changes. The Model data and its business rules
    are often implemented using a Class. The Model data is often stored in
    a <b>Database</b>. In the <b>Polls</b> web application, there are two
    models:
  </li>
  <br/>
  <ul>
    <li>
      <b>Question</b> - The data fields associated with the Question model
      are the text string that is the question, and the date/time the Question
      was added.
    </li>
    <br/>
    <li>
      <b>Choice</b> - The data fields associated with the Choice model are
      the Question that this Choice is for, the text string that is the choice,
      and the number of votes this Choice has received.
    </li>
  </ul>
  <br/>
  <li>
    <b>View</b> - A View is how the data is displayed by the web application.
    For example, in the <b>Polls</b> application there is a view that lists
    all of the Questions that are available (the <b>index</b> view), a View
    that shows you all the Choices for a specific Question that you can vote
    on (the <b>details</b> view), and a View that shows you the results of
    the voting on a specific Question (the <b>results</b> view).
  </li>
  <br/>
  <li>
    <b>Controller</b> - A Controller accepts the input (e.g., a vote for
    a Choice) and/or actions (e.g., clicking a link to go to a different page)
    from the user and then uses the Models to manipulate the data and uses the
    Views to display information. For example, a controller can accept a vote
    for a Choice from the <b>details</b> view, and which instructs the Choice
    model to add one to the number of votes, and then displays (or
    <b>renders</b>) the <b>results</b> view to show the user the votes
    for this Question.
  </li>
  <br/>
</ul>

<h2>The Application</h2>

<p>
  In Django, a web site can be made up of many separate (but usually related)
  applications. The Django web site we will be working with has a single
  simple Polls application. You can present questions to users, allow users
  to select an answer they would like to vote for, and allow users to view
  the voting results for each question.
</p>

<p>
  Here are descriptions of the files that comprise this application, but you
  don't need to understand them all in detail. In each of the exercises, we'll
  let you know which files you need to worry about.
</p>

<ul>
  <li>
    <b>django/</b> - this is the top-level directory for the web site.
  </li>
  <li>
    <b>django/manage.py</b> - this is the initialization file for django command-line commands
  </li>
  <br/>
  <li>
    <b>django/django_hoc</b> - this is the directory that contains the
    "root" application of the web site (Django Hour Of Code)
  </li>
  <li>
    <b>django/django_hoc/urls.py</b> - this is the file that looks up the
    URL sent by the user's web browser to the web site and calls the matching Controller/View for the matching application.
  </li>
  <br/>
  <li><b>django/polls</b> - this is the directory that contains
    the <b>Polls</b> application of the web site
  </li>
  <li>
    <b>django/polls/urls.py</b> - this is the file that looks up the URL
    sent by the user's web browser for the <b>Polls</b> application and
    calls the matching Controller/View in the <b>Polls</b> application.
  </li>
  <li>
    <b>django/polls/models.py</b> - this file contains the Python code
    for the Models for the <b>Polls</b> application
  </li>
  <li>
    <b>django/polls/views.py</b> - this file contains the Python code for
    the Controllers/Views for the <b>Polls</b> application.
  </li>
  <li>
    <b>django/polls/tests.py</b> - this file contains the Python code for
    the tests for the <b>Polls</b> application
  </li>
  <li>
    <b>django/polls/templates/polls</b> - this directory contains the
    <b>HTML</b> templates for the Views
  </li>
  <p>
    * Note that in Django, the Controller is found in the "views.py" file,
    and much of the code to format the display of the data is found in template
    files, so Django is sometimes called a "Model", "Template", "View" design
    pattern.
  </p>
</ul>

<h2>The Exercises</h2>
<ul style="list-style-type:decimal;">
  <li>
    Run the application on your computer using your web browser.
    <p>
      We will be running the web site on your computer using <b>VirtualBox</b>,
      which is a free software program that acts like a completely separate
      computer running as a program (a <b>virtual</b> computer) on your
      regular computer. The virtual computer runs a completely different
      Operating System, in this case, <b>Linux</b>. To use it, you need to
      connect to the virtual computer using <b>SSH</b> (Secure Shell), which
      is used to run commands on a remote computer over a network. We will
      also use another free program called <b>Vagrant</b>, which helps us
      manage the virtual computer.
    </p>
    <p>
      To start, you should have a command window which is in the <b>django</b>
      directory. Use the command <i>vagrant ssh</i> to open a connection to
      the virtual computer running Linux. Then use the command
      <i>./runserver</i> to start the Django server running on this virtual
      computer.
    </p>
    <p>
      At this point, you can use your web browser (e.g. Safari or Chrome)
      on your regular computer to connect to the web server running on your
      virtual computer. To do this, enter this URL in your web browser
      address bar: <i>http://localhost:8000</i>. Then click on the link
      to go to the polling application. Try looking at a couple of Questions
      and voting on a few Choices to see how it works.
    </p>
  </li>

  <li>
    Run the application at Heroku using your web browser.
    <p>
      <b>Heroku</b> is an Internet "Platform as a Service" provider that
      runs web sites written in various languages/frameworks, including
      Python/Django (and many others, such as Ruby on Rails, an MVC framework
      for the Ruby language). Anyone on the Internet can use their browser to
      access web sites running at Heroku. Web sites can be created at Heroku
      for free. If the web sites need to be used by many people or to
      manage a lot of data, then Heroku charges fees for the additional
      resources needed for this.
    </p>
    <p>
      We have already pre-created the application for you at Heroku,
      but you need to copy your web site code to Heroku to get it to run
      the latest code. To do this, we will use another free tool called
      <b>Git</b>. We'll talk more about Git below, but for now, you just
      need to use the command <i>git push heroku</i> from within
      your <i>vagrant ssh</i> session to copy your code
      to Heroku. Once the code is copied to Heroku, then Heroku will
      automatically run a sequence of commands to reinitialize and
      restart your application there.
    </p>
    <p>
      Once the <i>git push heroku</i> command is complete, then you can check
      your application at Heroku by enter this URL in your web browser
      address bar: <i>http://django-hoc-##.herokuapp.com</i>, where <b>##</b>
      is the number that you have been assigned.
      Then click on the link to go to the polling application.
      Notice that the votes you made in exercise 1 are <b>not</b>
      in your application at Heroku - this is because the application at
      Heroku is using a different database than the one on your local computer.
      Any changes you make to your local database will not be seen by Heroku.
      Any changes you make to your code on your local computer will not be
      seen by Heroku until you push your new code to Heroku.
    </p>
  </li>

  <li>
    Use the <b>Django Admin</b> interface to create a new question and choices
    to vote on. Run this on your local computer, but you can also run it
    at Heroku if you want.
    <p>
      Django comes with a built-in administrative interface you can use to
      explore the model data that is saved in your database, and to create,
      read, update, or delete your model data (these actions are known by
      the acronym <b>CRUD</b>).
    </p>
    <p>
      Let's use this admin interface to create a new Question with some Choices.
      Think of a new question you might want to ask. In your browser, use the
      link in the home page of your application (at
      <i>http://localhost:8000</i>), and click
      on the link to go to the admin interface. You should see a login screen
      asking for a Username and Password. Use <i>admin</i> as the Username
      and <i>fred</i> as the password. You should now see a page with
      the title <b>Django administration</b> and subtitle
      <b>Site administration</b>.
    </p>
    <p>
      Click on the <b>Add</b> link to the right of <b>Questions</b> to add your
      new Question. You should go to a new page with the subtitle
      <b>Add question</b>. Fill in the <b>Question text</b> field, and also
      the <b>Choice text</b> fields for as many choices as you like. If you
      want to add more than 3 choices, click the <b>Add another Choice</b>
      control. Once you are done filling in these fields, click the
      <b>Save</b> button.
    </p>
    <p>
      Now go back to the home page at <i>http://localhost:8000</i>, and click
      on the link to go to the Polls application to see your new question.
      Click on the new question and look at the choices to be sure they look
      right. If you made a typo, you can fix it by going back to the admin
      interface, clicking on the <b>Questions</b> control, and selecting
      which question you would like to modify, modify the Question text
      or Choice text, and then click <b>Save</b>.
    </p>
  </li>

  <li>
    Create an automated test for the results page.
    <p>
      It can be hard to write software without errors, so it is very important
      to create tests to ensure your software does what you want it to do.
      Django comes with a built-in automated test facility. You can run the
      existing automated tests for the Polls application by running the
      command <i>python manage.py test polls</i> from your <i>vagrant ssh</i>
      session. Go ahead and try this now.
    </p>
    <p>
      One of the things you may have noticed when you ran the tests is that
      Python reported that it was <i>Creating test database...</i>. Django uses
      a completely separate test database for testing so it doesn't modify
      your regular application database while running tests. You can
      create test questions in your tests and vote on choices without worrying
      about affecting your regular database.
    </p>
    <p>
      Using a text editor on your computer (such as <b>TextEdit</b>,
      open the file <b>django/polls/tests.py</b> The tests for the
      Polls application are in this file. Each set of tests are
      implemented as classes, and each method in each class is an
      individual test case. You are going to create a new test for
      the <b>results</b> page, the page that you see after you vote
      for a Choice. Your test should:
    </p>
    <ul style="list-style-type:decimal;">
      <li>Create a question with two or more choices.</li>
      <li>Verify that the results page for your new Question contains the correct vote count for all of the Choices.</li>
    </ul>
    <p>
      Here are some helper functions that may be useful:
      <ul>
        <li>
          <b>create_question(keyword_arguments)</b> - this function
          will create and return a new Question. You can see how it is
          used in other tests in <b>django/polls/tests.py</b>.
        </li>
        <li>
          <b>question.choice_set.create(keyword_arguments)</b> - this function
          will create and return a new Choice for the given <b>question</b>
          object.
        </li>
        <li>
          <b>self.client.get(url)</b> - this call when used in a test
          method will return a response object corresponding to the
          web page contents for the given <b>url</b>.
        </li>
        <li>
          <b>reverse('polls:results', args=(question.id,))</b> - this will
          return the URL for the <b>results</b> view in the <b>polls</b>
          application for the given <b>question</b> object.
        </li>
        <li>
          <b>self.assertContains(response, string, status_code=200)</b> -
          this will check to see if the web page in the <b>response</b>
          object contains the given <b>string</b> and that the web server
          returned a status code of <b>200</b> (200 is the HTTP status
          code for success).
        </li>
      </ul>
    </p>
  </li>

  <li>
    Display the number of responses for each question on the index page.
    <p>
      Ok, now let's make some changes to a Model and to a View. Right now,
      the <b>index</b> view (the first page in the Polls application) just
      shows a list of questions. I'd like you to modify it to show the total
      number of responses received for each question. First, add a method to
      the Question class in <b>django/polls/models.py</b> to return the total
      number of responses received for the question. Some helper functions
      that might be useful are:
      <ul>
        <li>
          <b>question.choice_set.all</b> - returns a list of Choice objects
          for the given <b>question</b> object.
        </li>
        <li>
          <b>choice.votes</b> - returns the current vote count for the given
          <b>choice</b> object.
        </li>
      </ul>
    </p>
    <p>
      Next, let's modify the index template file
      <b>django/polls/templates/polls/index.html</b> to add the total number
      of responses next to each question. The template file is a mixture of
      HTML tags which are typically surrounded by <b>&lt; &gt;</b>, which you
      may have seen before, and some other stuff surround by <b>&#123;% %&#125;</b> or
      <b>&#123;&#123; &#125;&#125;</b>, which you probably haven't seen before. These are Django
      tags, and they contain something that looks a lot like Python code.
      Some of these Django tags are even embedded <i>inside</i> HTML tags!
      The simplest Django tags just take a Python value that is inside
      <b>&#123;&#123; &#125;&#125;</b> and turn it into text that is displayed on the web page.
      For example, in the index.html file you will see this:
      <b>&#123;&#123; question.question_text &#125;&#125;</b>. This just takes the question_text
      field from the given <b>question</b> object and displays it on the
      web page. See if you can add the current count of votes next to each
      question on this web page. Once you make your changes to the source
      code files, you can just try them using your browser to go to
      <i>http://localhost:8000</i> again.
    </p>
  </li>

  <li>
    Deploy your changes from Exercise 5 to Heroku using Git.
    <p>
      Ok, now you have modified your application, congratulations!
      Let's copy those changes to Heroku so the rest of the world can
      use them. You might be tempted just to use
      <b>git push heroku</b> again, but if you do, it won't actually copy
      your changes to Heroku yet. Before we can understand why, let's talk
      a bit more about <b>Git</b>.
    </p>
    <p>
      <b>Git</b> is a distributed <b>Revision Control System</b>.
      A <b>Revision Control System</b> is a system for keeping a record
      of changes to files, and is typically used to manage changes to a
      set of files containing source code for a software
      application. Git was created by <b>Linus Torvalds</b>, the
      creator of the Linux kernel, to help him work together with other
      developers to improve Linux. <b>Git</b> can keep track of changes
      you make in files on your local computer, and because it was
      designed to allow teams all across the world to work with each
      other, it can also synchronize (copy) those changes to remote
      computers.
    </p>
    <p>
      Before you can copy your changes to Heroku, you need to have Git
      <b>commit</b> your changes into your local
      Git <b>repository</b>. You can think of a Git repository like a
      database for your source code. Git tracks <i>all</i> of the
      changes in each of your source files that have been committed to
      the repository, so that if you ever want to see what you have
      changed, you can use Git to do so. <b>git push heroku</b> will only
      copy changes that have been saved in the Git repository,
      which is why it won't work yet.
    </p>
    <p>
      Let's ask Git to show us the changes you have made, but not
      committed yet. To do this you can use the command <b>git
      status</b> in your <b>vagrant ssh</b> session to look at the
      list of files you have modified. Git compares your files to what
      is in the repository, and tells you which ones have
      changed. You can use the command <b>git diff</b> to see the
      exact changes in those files. To commit your changes to your Git
      repository, use the command <b>git add polls</b> and then <b>git
      commit -m "Added number of responses to index view."</b>.  This
      will commit your changes to the Git repository with a message
      that tells other developers what you did. Now (finally) you can
      use <b>git push heroku</b> to copy these changes to Heroku.
    </p>
    <p>
      Once you have pushed your changes to Heroku, use your browser to
      check your application at <i>http://django-hoc-##.herokuapp.com</i>
      to see your changes in action (and don't forget to replace <b>##</b>
      with the number you have been assigned!)
    </p>
    <p>
      One more thing about Git: there is a web site called <b>GitHub</b>
      that developers all over the world use to share source code using
      Git. The source code for the django_hoc web application is stored
      on <b>GitHub</b>. <b>GitHub</b> is free for projects that are shared
      with everyone.
    </p>
  </li>

  <li>
    Add a new page to display all the questions with all of the choices for
    each question and the number of responses for each choice, in order of
    how many responses each choice received.
    <p>
      TBD
    </p>
  </li>
</ul>

<a href="/">Return to Home page</a>
