<head>
  <style>
    span.info {
      position:relative; 
      color:red;
      font-weight:bold;
    } 

    span.info span.tooltip {display: none} 

    span.info:hover span.tooltip {
      display:block;
      position:absolute;
      top:2em; left:-4em; min-width:12em;
      padding: 0.5em;
      border:1px solid;
      background-color:#fff8dc;
      color:black;
      font-weight:normal;
      z-index:200;
    } 
  </style>
</head>

<a href="/">Return to Home page</a>

<h1>Instructions</h1>
<p>
  The software for this class should already be installed on the school
  computers. If you are using your own computer, click
  <a href="{% url 'polls:install' %}">here</a> for installation instructions.
</p>
<p>
  If you hover over any of the words in
  <span class="info">red<span class="tooltip">Except for this one.</span></span>,
  an explanation of the term will popup.
</p>
<h2>Background</h2>

<p>
  In this exercise you will be using <b>Django</b>, a free, open-source
  <b>Python</b>-based
  <span class="info">
    framework
    <span class="tooltip">
      A <b>framework</b> is a collection of software libraries and
      tools to build applications that you can customize and extend by
      writing your own code.
    </span>
  </span>
  for building web applications.
</p>

<p>
We have built a simple Polling application in Django and after giving
you a brief introduction to Django and the application, we'll ask you
to make a set of modifications to it.
After completing this application, you should be prepared to learn more
about Django and use it for designing and writing your own web applications.
</p>

<p>
  Django uses a popular
  <span class="info">design pattern
    <span class="tooltip">
      A <b>design pattern</b> is a general, reusable software solution
      to a commonly-occurring problem. For example, a dictionary in
      Python (also called an associative array in some languages) is a
      design pattern for storing name/value pairs.
    </span>
  </span>
  for web applications called
 <b>Model-View-Controller</b>, or <b>MVC</b> for short. MVC divides
 up the web application into three parts:
</p>
<ul>
  <li>
    <b>Model</b> - The Model encapsulates the data and the rules that
    define how the data behaves/changes.
    The Model data and its rules
    are often implemented using a
    <span class="info">
      Class<span class="tooltip">
        A way of defining objects that your programs use. Classes typically
        contain the data elements that describe an object and functions,
        called methods, that act on the data.
      </span></span>.
    The Model data is often stored in a <b>Database</b>.
    In our application, there are two models, each implemented by a class:
  </li>
  <br/>
  <ul>
    <li>
      <b>Question</b> - The data consists of two fields: a text string
      containing the question and the date/time the question was added.
    </li>
    <br/>
    <li>
      <b>Choice</b> - The data consists of three fields: a reference to
      the Question for which this is a choice,
      a text string containing the choice,
      and an integer representing the number of votes this choice has
      received.
    </li>
  </ul>
  <br/>
  <li>
    <b>View</b> - A View describes the interface, how the data is displayed
    by the web application.
    For example, our application is a polling website, with multiple-choice questions. In this application there are 3 primary views:
    <ol>
    <li>Index: lists all of the Questions that are available.
    <li>Detail: shows you all the Choices for a specific Question.
    <li>Results: shows you the number of votes for all the choices of
    a specific question.
    </ol>
  </li>
  <br/>
  <li>
    <b>Controller</b> - The controller is what makes everything happen.
    It takes input, such as a vote, and actions, such as clicking on a link
    to go to a different page, uses the Models to manipulate the data,
    and uses the Views to display information.
    For example, a controller can accept a vote
    for a Choice from the <b>details</b> view, instruct the Choice
    model to increment the number of votes, and display (or
    <b>render</b>) the <b>results</b> view to show the new vote counts
    for the particular Question.
  </li>
  <br/>
</ul>


<h2>The Application</h2>

<p>
When you use Django to develop a web site, you can build as many applications
as you want -- typically you select a set of related applications for a
particular web site.
Today, you'll be working with a rather simple web site that supports a
single application, Polls. Polls presents questions, allows users
to vote for answers, and then allows users to view the voting results for
each question.
</p>

<p>
  Here is a list of the files that comprise this application, but you
  don't need to understand them all in detail. In each of the exercises, we'll
  let you know which files you need to worry about.
</p>

<ul>
  <li>
    <b>django/</b> - this is the top-level directory for the web site.
  </li>
  <li>
    <b>django/manage.py</b> - this is the initialization file for django command-line commands
  </li>
  <br/>
  <li>
    <b>django/django_hoc</b> - this is the directory that contains the
    "root" application of the web site (Django Hour Of Code)
  </li>
  <li>
    <b>django/django_hoc/urls.py</b> - this is the file that looks up the
    URL sent by the user's web browser to the web site and calls the matching Controller/View for the matching application.
  </li>
  <br/>
  <li><b>django/polls</b> - this is the directory that contains
    the <b>Polls</b> application of the web site
  </li>
  <li>
    <b>django/polls/urls.py</b> - this is the file that looks up the URL
    sent by the user's web browser for the <b>Polls</b> application and
    calls the matching Controller/View in the <b>Polls</b> application.
  </li>
  <li>
    <b>django/polls/models.py</b> - this file contains the Python code
    for the Models for the <b>Polls</b> application
  </li>
  <li>
    <b>django/polls/views.py</b> - this file contains the Python code for
    the Controllers/Views for the <b>Polls</b> application.
  </li>
  <li>
    <b>django/polls/tests.py</b> - this file contains the Python code for
    the tests for the <b>Polls</b> application
  </li>
  <li>
    <b>django/polls/templates/polls</b> - this directory contains the
    <b>HTML</b> templates for the Views
  </li>
  <p>
    * Note that in Django, the file "views.py" contains the Controller
    and most of the code that describes what the application looks like is
    located in template files. For this reason, some people claim that
    Django uses the "Model", "Template", "View" design pattern.
  </p>
</ul>

<h2>The Exercises</h2>
<ol>
  <li>
    Run the application on your computer using your web browser.
    <p>
      We will be running the web site on your computer using
      <span class="info">VirtualBox<span class="tooltip">
          <b>VirtualBox</b> is a free software program that acts like
          a completely separate computer running as a program (a
          <b>virtual computer</b>) on your regular computer. The virtual
          computer runs a completely different Operating System, in
          this case, Linux.
      </span></span>.
      To use it, you need to
      connect to VirtualBox using
      <span class="info">SSH<span class="tooltip">
          <b>SSH</b> (Secure Shell) is used to run commands on a
          remote computer over a network.
      </span></span>.
      We will also use another free program called <b>Vagrant</b>,
      which helps us manage VirtualBox.
    </p>
    <p>
      To start, you should have a command window which is in the <b>django</b>
      directory. Type the command <i>vagrant ssh</i> to open a connection to
      VirtualBox. Then type the command
      <i>./runserver</i> to start the Django server running on VirtualBox.
    </p>
    <p>
      At this point, you can use your web browser (e.g. Safari or Chrome)
      on your regular computer to connect to the web server running on
      VirtualBox. To do this, enter this URL in your web browser
      address bar: <i>http://localhost:8000</i>. Then click on the link
      to go to the polling application. Try looking at a couple of Questions
      and voting on a few Choices to see how it works.
    </p>
  </li>

  <li>
    Run the application at
    <span class="info">Heroku
      <span class="tooltip">
        <b>Heroku</b> is an Internet Platform as a Service (PaaS)
        provider that runs web sites written in various
        languages/frameworks, including Python/Django (and many
        others, such as Ruby on Rails, an MVC framework for the Ruby
        language). Anyone on the Internet can use their browser to
        access web sites running at Heroku. Web sites can be created
        at Heroku for free. If the web sites need to be used by many
        people or to manage a lot of data, then Heroku charges fees
        for the additional resources needed for this.
      </span>
    </span>
    using your web browser.
    <p>
      We have already pre-created the application for you at Heroku,
      but you need to copy your web site code to Heroku to get it to run
      the latest code. To do this, we will use another free tool called
      <b>Git</b>. We'll talk more about Git below, but for now, you just
      need to use the command <i>git push heroku master</i> from within
      your <i>vagrant ssh</i> session to copy your code
      to Heroku. Once the code is copied to Heroku, then Heroku will
      automatically run a sequence of commands to reinitialize and
      restart your application there.
    </p>
    <p>
      Once the <i>git push heroku master</i> command is complete, then you can check
      your application at Heroku by enter this URL in your web browser
      address bar: <i>http://django-hoc-##.herokuapp.com</i>, where <b>##</b>
      is the number that you have been assigned.
      Then click on the link to go to the polling application.
      Notice that the votes you made in exercise 1 are <b>not</b>
      in your application at Heroku - this is because the application at
      Heroku is using a different database than the one on your local computer.
      Any changes you make to your local database will not be seen by Heroku.
      Any changes you make to your code on your local computer will not be
      seen by Heroku until you push your new code to Heroku.
    </p>
  </li>

  <li>
    Use the <b>Django Admin</b> interface to create a new question and choices
    to vote on. Run this on your local computer, but you can also run it
    at Heroku if you want.
    <p>
      Django comes with a built-in administrative interface you can use to
      explore the model data that is saved in your database, and to create,
      read, update, or delete your model data (these actions are known by
      the acronym <b>CRUD</b>).
    </p>
    <p>
      Let's use this admin interface to create a new Question with some Choices.
      Think of a new question you might want to ask. In your browser, use the
      link in the home page of your application (at
      <i>http://localhost:8000</i>), and click
      on the link to go to the admin interface. You should see a login screen
      asking for a Username and Password. Use <i>admin</i> as the Username
      and <i>allpowerful</i> as the password. You should now see a page with
      the title <b>Django administration</b> and subtitle
      <b>Site administration</b>.
    </p>
    <p>
      Click on the <b>Add</b> link to the right of <b>Questions</b> to add your
      new Question. You should go to a new page with the subtitle
      <b>Add question</b>. Fill in the <b>Question text</b> field, and also
      the <b>Choice text</b> fields for as many choices as you like. If you
      want to add more than 3 choices, click the <b>Add another Choice</b>
      control. Once you are done filling in these fields, click the
      <b>Save</b> button.
    </p>
    <p>
      Now go back to the home page at <i>http://localhost:8000</i>, and click
      on the link to go to the Polls application to see your new question.
      Click on the new question and look at the choices to be sure they look
      right. If you made a typo, you can fix it by going back to the admin
      interface, clicking on the <b>Questions</b> control, and selecting
      which question you would like to modify, modify the Question text
      or Choice text, and then click <b>Save</b>.
    </p>
  </li>

  <li>
    Display the number of responses for each question on the index page.
    <p>
      Ok, now let's make some changes to a Model and to a View. Right now,
      the <b>index</b> view (the first page in the Polls application) just
      shows a list of questions. I'd like you to modify it to show the total
      number of responses received for each question. Using a text editor on
      your computer (such as <b>TextEdit</b>), open the file <b>django/polls/models.py</b>.
    </p>
    <p>
      Whichever you use <b>IT IS VERY IMPORTANT TO USE SPACES TO INDENT YOUR PYTHON CODE, AND NOT TABS</b>
    </p>
    <p>
      First, add a method called votes(self) to the Question class to return
      the total number of responses received for the question. Some helper
      functions that might be useful are:
      <ul>
        <li>
          <b>question.choice_set.all()</b> - returns a list of Choice objects
          for the given <b>question</b> object.
        </li>
        <li>
          <b>choice.votes</b> - returns the current vote count for the given
          <b>choice</b> object.
        </li>
      </ul>
    </p>
    <p>
      Next, let's modify the index template file
      <b>django/polls/templates/polls/index.html</b> to add the total number
      of responses next to each question. The template file is a mixture of
      HTML tags which are typically surrounded by <b>&lt; &gt;</b>, which you
      may have seen before. HTML is the format that your browser understands,
      and tells the browser what information to put where on the page,
      including text, links, buttons, input fields, etc.
    </p>
    <p>
      You'll also see some other stuff surround by <b>&#123;% %&#125;</b> or
      <b>&#123;&#123; &#125;&#125;</b>, which you probably haven't
      seen before.  These are Django tags, and they contain something
      that looks a lot like Python code.  Some of these Django tags
      are even embedded <i>inside</i> HTML tags!  Django uses these
      tags to <b>pre-process</b> the template before it is sent to the
      browser, and convert it to plain HTML for the browser.  These
      Django tags allow you to generate HTML using the data and
      control logic in Python/Django.
    </p>
    <p>
      The simplest Django tags just take a Python value that is inside
      <b>&#123;&#123; &#125;&#125;</b> and turn it into text that is
      displayed on the web page.
      For example, in the index.html file you will see this:
      <b>&#123;&#123; question.question_text &#125;&#125;</b>.
      This just takes the question_text
      field from the given <b>question</b> object and displays it on the
      web page. You can also use a Django tag to call a class method and
      display the return value on the web page, but only if the class method
      does not take any arguments (other than self), like this:
      <b>&#123;&#123; question.foo &#125;&#125;</b>. This will call
      the <b>foo</b> method, as if you had typed <b>question.foo()</b>
      in regular Python code.
    </p>
    <p>
      See if you can add the current count of votes next to each
      question on this web page. Once you make your changes to the source
      code files, you can just try them using your browser to go to
      <i>http://localhost:8000</i> again.
    </p>
  </li>

  <li>
    Deploy your changes from Exercise 5 to Heroku using Git.
    <p>
      Ok, now you have modified your application, congratulations!
      Let's copy those changes to Heroku so the rest of the world can
      use them. You might be tempted just to use
      <i>git push heroku master</i> again, but if you do, it won't actually copy
      your changes to Heroku yet. Before we can understand why, let's talk
      a bit more about <span class="info">Git<span class="tooltip">
          <b>Git</b> is a distributed <b>Revision Control System</b>.
          A <b>Revision Control System</b> is a system for keeping a record
          of changes to files, and is typically used to manage changes to a
          set of files containing source code for a software
          application. Git was created by <b>Linus Torvalds</b>, the
          creator of the Linux kernel, to help him work together with other
          developers to improve Linux. Git can keep track of changes
          you make in files on your local computer, and because it was
          designed to allow teams all across the world to work with each
          other, it can also synchronize (copy) those changes to remote
          computers.
      </span></span> (and <span class="info">GitHub<span class="tooltip">
          <b>GitHub</b> is a website that developers all over the
          world use to share source code using Git. The source code for
          the django_hoc web application is stored on GitHub. GitHub is
          free for projects that are shared with everyone.
      </span></span>).
    </p>
    <p>
      Before you can copy your changes to Heroku, you need to have Git
      commit your changes into your local
      <b>Git repository</b>. You can think of a Git repository like a
      database for your source code. Git tracks <i>all</i> of the
      changes in each of your source files that have been committed to
      the repository, so that if you ever want to see what you have
      changed, you can use Git to do so. <i>git push heroku master</i> will only
      copy changes that have been saved in the Git repository,
      which is why it won't work yet.
    </p>
    <p>
      Let's ask Git to show us the changes you have made, but not
      committed yet. To do this you can use the command <i>git
      status</i> in your <i>vagrant ssh</i> session to look at the
      list of files you have modified. Git compares your files to what
      is in the repository, and tells you which ones have
      changed. You can use the command <i>git diff</i> to see the
      exact changes in those files. To commit your changes to your Git
      repository, use the command <i>git add polls</i> and then <i>git
      commit -m "Added number of responses to index view."</i>.  This
      will commit your changes to the Git repository with a message
      that tells other developers what you did. Now (finally) you can
      use <i>git push heroku master</i> to copy these changes to Heroku.
    </p>
    <p>
      Once you have pushed your changes to Heroku, use your browser to
      check your application at <i>http://django-hoc-##.herokuapp.com</i>
      to see your changes in action (and don't forget to replace <b>##</b>
      with the number you have been assigned!)
    </p>
  </li>

  <li>
    Create an automated test for the results page.
    <p>
      It can be hard to write software without errors, so it is very important
      to create tests to ensure your software does what you want it to do.
      Django comes with a built-in automated test facility. You can run the
      existing automated tests for the Polls application by running the
      command <i>python manage.py test polls</i> from your <i>vagrant ssh</i>
      session. Go ahead and try this now.
    </p>
    <p>
      One of the things you may have noticed when you ran the tests is that
      Python reported that it was <i>Creating test database...</i>. Django uses
      a completely separate test database for testing so it doesn't modify
      your regular application database while running tests. You can
      create test questions in your tests and vote on choices without worrying
      about affecting your regular database.
    </p>
    <p>
      Using a text editor on your computer (such as <b>TextEdit</b>),
      open the file <b>django/polls/tests.py</b> The tests for the
      Polls application are in this file. Each set of tests are
      implemented as classes, and each method in each class is an
      individual test case. You are going to create a new test for
      the <b>results</b> page, the page that you see after you vote
      for a Choice. Your test should:
    </p>
    <ol>
      <li>Create a question with two or more choices.</li>
      <li>Verify that the results page for your new Question contains the correct vote count for all of the Choices.</li>
    </ol>
    <p>
      Here are some helper functions that may be useful:
      <ul>
        <li>
          <b>create_question(question_text='question string', days=#)</b> - this function
          will create and return a new Question with the specified
          question_text string and days (from now) that the question
          should be displayed. You can see how it is
          used in other tests in <b>django/polls/tests.py</b>.
        </li>
        <li>
          <b>question.choice_set.create(choice_text='choice string', votes=#)</b> - this function
          will create and return a new Choice for the given <b>question</b>
          object with the specified choice_text string and number of votes.
        </li>
        <li>
          <b>self.client.get(url)</b> - this call when used in a test
          method will return a response object corresponding to the
          web page contents for the given <b>url</b>.
        </li>
        <li>
          <b>reverse('polls:results', args=(question.id,))</b> - this will
          return the URL for the <b>results</b> view in the <b>polls</b>
          application for the given <b>question</b> object.
        </li>
        <li>
          <b>self.assertContains(response, string, status_code=200)</b> -
          this will check to see if the web page in the <b>response</b>
          object contains the given <b>string</b> and that the web server
          returned a status code of <b>200</b> (200 is the HTTP status
          code for success).
        </li>
      </ul>
    </p>
  </li>

  <li>
    Add a new page (the <b>allresults</b> page) to display all the
    questions with all of the choices for each question and the number
    of responses for each choice, in order of how many responses each
    choice received.
    <p>
      Ok, this will need to touch a number of files. The basic steps are:
      <ol>
        <li>
          Add a new method to the Question class in
          <b>django/polls/models.py</b> to return the list of
          Choices for a question object sorted by the number of responses.
        </li>
        <li>
          Add a new allresults method in
          the <b>django/polls/views.py</b> file to render the
          allresults page.
        </li>
        <li>
          Add a new allresults view template in
          the <b>django/polls/templates/polls</b> directory to display
          the questions and choices.
        </li>
        <li>
          Add a new <b>urlpattern</b> (see below)
          to <b>django/polls/urls.py</b> to invoke the new allresults
          view method.
        </li>
        <li>
          Add a link to the new url to one of the existing HTML templates.
        </li>
      </ol>
    </p>
    <p>
      Django uses a list of <b>urlpatterns</b> in
      the <b>django/polls/urls.py</b> file to recognize a URL and
      determine what view method to call, and what information from
      the URL should be passed as an argument to the view method. The
      urlpattern contains a <b>regular expression</b> that it compares
      to the URL to see if it matches. You will need to add a new entry
      to the urlpatterns list to match the new URL you want to use (see the
      <b>url(...)</b> function below).
    </p>
    <p>
      Here are some functions you might need to implement this exercise:
      <ul>
        <li>
          <b>.order_by('-votes')</b> - when appended to an expression that
          returns a list of Choice objects, this will sort the returned list
          by the number of votes in descending order.
        </li>
        <li>
          <b>render(request, template, &#123;'variable_name': variable_value&#125;)</b> -
          render the specified <b>template</b> on behalf of the specified
          view <b>request</b> with the variable named <b>variable_name</b> and
          value <b>variable_value</b>. See the view methods in
          <b>django/polls/views.py</b> for examples.
        </li>
        <li>
          <b>&#123;% for var in list %&#125; ... &#123;% endfor %&#125;</b> -
          a Django template tag that loops over each entry in
          <b>list</b> assigning the entry to <b>var</b>. The loop is
          terminated by <b>&#123;% endfor %&#125;</b>. See
          <b>django/polls/templates/polls/index.html</b> for an example.
        </li>
        <li>
          <b>url(r'expr', view_method, name='view_name')</b> - a
          function that returns a urlpattern to match a url using the
          regular expression specified by <b>expr</b> and call the
          view method specified by
          <b>view_method</b> and referenced by the name <b>view_name</b>.
          See <b>django/polls/urls.py</b> for examples.
        </li>
        <li>
          <b>&lt;a href="url"&gt;link name&lt;/a&gt;</b> - this is the HTML tag for
          creating a link to the specified <b>url</b> while displaying the
          specified <b>link name</b> in the web page. See
          <b>django/polls/templates/polls/index.html</b> for an example.
        </li>
        <li>
          <b>&#123;% url 'application:view_name' %&#125;</b> - a Django template
          tag that returns the url to the specified <b>application</b> and
          <b>view_name</b>. See <b>django/polls/templates/polls/home.html</b>
          for examples.
        </li>
      </ul>
  </li>
</ol>

<a href="/">Return to Home page</a>
